<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="IOrderService" type="unity.test.iservice.IOrderService, unity.test.iservice" />
      <typeAlias alias="OrderService" type="unity.test.service.OrderService, unity.test.service" />
      <typeAlias alias="IOrderRepository" type="unity.test.idal.IOrderRepository, unity.test.idal" />
      <typeAlias alias="OrderRepository" type="unity.test.dal.OrderRepository, unity.test.dal" />
    </typeAliases>
    <containers>
      <container name="unityTest">
        <type type="IOrderService" mapTo="OrderService">
          <lifetime type="external" />
        </type>
        <type type="IOrderRepository" mapTo="OrderRepository">
          <lifetime type="external" />
        </type>
      </container>
    </containers>
  </unity>
</configuration>
